@import "tailwindcss";
@layer theme, base, components, utilities;

@layer theme {
    :root {
        --color-white: #FFFFFF;
        --color-lightestGray: #F4F4F3;
        --color-lightGray: #E2E2DD;
        --color-darkGray: #484848;
        --color-darkestGray: #242424;
        --color-black: #202020;
        --color-blue: #035AA0;
        --color-teal: #92F7C3;
    }
}

/* Add base styles */
@layer base {
    body {
        color: var(--color-black);
    }
}

/* Add custom styles inside the components layer
@layer components {
  }  */
  
  /* Add utilities if needed
  @layer utilities {
    .rotate-60 {
      transform: rotate(60deg);
    }
  }  */