@import "tailwindcss";

@layer theme {
    :root {
        --color-white: #FFFFFF;
        --color-lightestGray: #F4F4F3;
        --color-lightGray: #E2E2DD;
        --color-darkGray: #484848;
        --color-darkestGray: #242424;
        --color-black: #202020;
        --color-teal: #92F7C3;
        --color-darkGreen: #1c3829;
        --color-purple: #B330E1;
        --color-darkerPurple: #742092;
        --font-headings: "MuseoModerno", sans-serif;
        --font-text: "Jura", sans-serif;
    }
}

/* Add base styles */
@layer base {
    body {
        background-color: #F8F8F8;
        color: var(--color-black);
        font-family: var(--font-text);
    }
    h1,
    h2,
    h3,
    nav,
    #mobileMenu {
        font-family: var(--font-headings);
        font-weight: 500;
        padding: 1rem;
    }
    nav,
    #mobileMenu {
        color: var(--color-darkGray);
    }
    section {
        background: linear-gradient(90deg, hsla(149, 86%, 77%, 1) 40%, hsla(284, 75%, 54%, 1) 80%);
    }
    .card {
        background-color: var(--color-white);
    }
    header,
    footer,
    #mobileMenu {
        background: linear-gradient(90deg, hsla(149, 86%, 77%, 0.5) 40%, hsla(284, 75%, 54%, 0.5) 80%);
        background-color: var(--color-white);
    }
    table thead {
        border-bottom: 3px double var(--color-lightGray);
        color: var(--color-darkerPurple);
        font-family: var(--font-headings);
    }
    table tbody {
        color: var(--color-darkGreen);
    }
    table td {
        border-bottom: 1px dashed var(--color-lightGray);
        padding: 0.5rem 0;
    }
    .divide-y {
        color: var(--color-darkGreen);
    }
    .accordion-toggle {
        background: linear-gradient(90deg, hsla(149, 86%, 77%, 0.3) 40%, hsla(284, 75%, 54%, 0.3) 80%);
        background-color: var(--color-white);
    }
}

/* Custom reusable components */
@layer components {
    .btn-primary {
        background-color: var(--color-white);
        border: 2px solid transparent;
        border-image: linear-gradient(90deg, rgb(62, 114, 87) 40%, rgb(116, 32, 146) 80%);
        border-image-slice: 1;
        color: var(--color-black);
        font-family: var(--font-headings);
        font-weight: 500;
    }
}
  
/* Custom utilities */
@layer utilities {
    .gradient-text {
        background: linear-gradient(90deg, hsla(149, 86%, 77%, 1) 40%, hsla(284, 75%, 54%, 1) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .shadow {
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
    .quote,
    .dev {
        font-family: var(--font-headings);
    }
    .logo-text {
        background: linear-gradient(90deg, rgb(62, 114, 87) 40%, rgb(116, 32, 146) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: var(--font-headings);
    }
    .text-shadow-sm {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }
    .link {
        color: var(--color-purple);
        font-family: var(--font-headings);
    }
    .link:hover,
    .navlink.active {
        color: var(--color-darkerPurple);
    }
    .code {
        background-color: var(--color-lightestGray);
    }
}